In [173]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

In [174]:
df = pd.read_csv('/content/HR_dataset1.csv')
target = df.pop('salary')
df.head

<bound method NDFrame.head of        satisfaction_level  last_evaluation  ...  promotion_last_5years  sales
0                    0.38             0.53  ...                      0  sales
1                    0.80             0.86  ...                      0  sales
2                    0.11             0.88  ...                      0  sales
3                    0.72             0.87  ...                      0  sales
4                    0.37             0.52  ...                      0  sales
...                   ...              ...  ...                    ...    ...
14994                0.40             0.57  ...                      0  sales
14995                0.37             0.48  ...                      0  sales
14996                0.37             0.53  ...                      0  sales
14997                0.11             0.96  ...                      0  sales
14998                0.37             0.52  ...                      0  sales

[14999 rows x 8 columns]>

In [175]:
x = df.iloc[:, 1:2].values
y = df.iloc[:, 1:2].values

In [176]:
sorted(df.columns)

['Work_accident',
 'last_evaluation',
 'left',
 'number_project',
 'promotion_last_5years',
 'sales',
 'satisfaction_level',
 'time_spend_company']

In [177]:
#converting textual columns to numeric
char_cols = df.dtypes.pipe(lambda x:x[x=='object']).index
label_mapping = {}
for c in char_cols:
  df[c], label_mapping[c] = pd.factorize(df[c])
df.head()

   satisfaction_level  last_evaluation  ...  promotion_last_5years  sales
0                0.38             0.53  ...                      0      0
1                0.80             0.86  ...                      0      0
2                0.11             0.88  ...                      0      0
3                0.72             0.87  ...                      0      0
4                0.37             0.52  ...                      0      0

[5 rows x 8 columns]

In [178]:
#removing columns with lesser significance
df = df.drop(columns=['last_evaluation','Work_accident'])
df.head()

   satisfaction_level  number_project  ...  promotion_last_5years  sales
0                0.38               2  ...                      0      0
1                0.80               5  ...                      0      0
2                0.11               7  ...                      0      0
3                0.72               5  ...                      0      0
4                0.37               2  ...                      0      0

[5 rows x 6 columns]

In [179]:
#linear regression
#normalize the data
Scaler = StandardScaler()
df = Scaler.fit_transform(df.values)

In [180]:
#split the data

x_train, x_test, y_train, y_test = train_test_split(df, target)
clf = LinearRegression().fit(x_train, y_train)
pred = clf.predict(x_test)
print('training complete')

training complete

In [181]:
#generate report
#print(classification_report(y_test, pred))

In [182]:
regressor=LinearRegression()  
regressor.fit(x_train,y_train)  
y_pre=regressor.predict(x_test) 
print(y_pre)

[193.12957537 183.65407011 169.33788802 ... 183.38038873 189.40137906
 218.89886088]

In [183]:
# Visualising the Test set results
#plt.scatter(x_train, y_train, color = 'red')
#plt.plot(x_train, regressor.predict(x_train), color = 'green')
#plt.title('salary vs yearExp (Training set)')
#plt.xlabel('years of experience')
#plt.ylabel('salary')
#plt.show()